* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: none;
}

tooltip {
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
}

#workspaces {    
    margin-left: 4px;
    margin-top: 4px;
    border-radius: 10px; 
    background: #353535;
}
#workspaces button {
    color: #ffffff;
    padding: 0 2px 0 2px;
    border-radius: 10px;
    border: none;
}

#workspaces button.focused {
    color: #ffffff;
    background: #8aa493;
}

#workspaces button.urgent {
    background: #ff6242;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(255,255,255,0.2);
    border: 0px;
    color: #ffffff;
    box-shadow: inherit;
    text-shadow: inherit;
}
#window,
#clock,
#cpu,
#memory,
#battery,
#pulseaudio,
#network,
#bluetooth,
#custom-arch,
#mode,
#backlight {
    color: #ffffff;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 4px;
    margin-bottom: 0px;
    background: #353535;
    border: 0px;
}

#mode {
    border-radius: 20px;
    margin-left: 4px;
}

#window {
	background: none;
    border-radius: 10px;
    margin-left: 4px;
    color: #353535;
}

#clock {
    color: #ffffff;
    border-radius: 20px;
    margin-right: 5px;
}

#cpu {
    border-radius: 20px 0 0 20px;
}

#memory {
    border-radius: 0 20px 20px 0;
    margin-right: 4px;
}

#network {
    border-radius: 20px 0 0 20px;
}

#bluetooth {
    border-radius: 0px 20px 20px 0px;
    margin-right: 5px;
    padding-right: 5px;
}

#pulseaudio {
    border-radius: 0px 20px 20px 0px;
    margin-right: 4px;
    margin-left: 0px;
}

#pulseaudio.microphone {
    border-radius: 20px 0px 0px 20px;
    margin-right: 0px;
    padding-right: 0px;
}

#battery {
    border-radius: 20px;
	margin-right: 5px;
}
#custom-arch {
	border-radius: 20px;
	margin-right: 5px;
	padding-right: 8px;
	margin-left: 4px;
}
