* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;    
}

window#waybar {
    background-color: #323232;
    color: #ffffff;
}

button {
    box-shadow: none;
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    border: 0px;
    box-shadow: none;
}

#workspaces button {
	border-radius: 5px;
	padding: 0px 4px;
    background-color: transparent;
    color: #000000;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: none;
}

#workspaces button.focused {
    margin: 0px;
    color: #ffffff;
    background-color: #ae2a25;
}

#workspaces button.urgent {
    color: #ae2a25;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#bluetooth,
#pulseaudio,
#tray,
#custom-arch,
#custom-notification,
#mode,
#scratchpad,
#window
{
    margin: 4px 0px;
    padding: 0px 5px;
    color: #000000;
    border-radius: 5px;
    background-color: #c6c6c6;
    margin-right: 4px;
}

#workspaces {
    margin: 4px;
    border-radius: 5px;
    background: #c6c6c6;
}

#mode {
	background: #a28574;
}

#custom-notification {
	padding-right: 9px;
	padding-left: 6px;
}

#custom-arch {
    margin-right: 0px;
    margin-left: 4px;
    padding-left: 6px;
	padding-right: 9px;
}

#clock {

}
#window {
	background: transparent;
	color: #ffffff;
}

#pulseaudio {
	border-radius: 5px 0px 0px 5px;
	margin-right: 0px;
}
#pulseaudio.microphone {
	border-radius: 0px 5px 5px 0px;
	margin-left: 0px;
	margin-right: 4px;
}
#cpu {
	margin-right: 0px;
	border-radius: 5px 0px 0px 5px;
	
}
#memory {
	margin-left: 0px;
	border-radius: 0px 5px 5px 0px;	
}
#network {
	margin-right: 0px;
	border-radius: 5px 0px 0px 5px;
}
#network.disconnected {
	
}

#bluetooth {
	margin-left: 0px;
	border-radius: 0px 5px 5px 0px;
}
#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #c6c6c6;
        color: #000000;
    }
}
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #f53c3c;
}
#scratchpad {

}
#scratchpad.empty {
	background-color: transparent;
}
