* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: #1f212b;
    border-bottom: 2px solid #262c3c;
}

tooltip {
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
}

#workspaces {
    background: #262c3c;
    border-radius: 0px 12px 0px 0px;
    padding-right: 4px;
    padding-left: 4px;
}
#workspaces button {
    color: #ffffff;
    margin: 2px 0 4px 0;
    padding: 0 3px 0 3px; 
    border-radius: 20px;
}

#workspaces button.focused {
    color: #262c3c;
    background: #78cad8;
}

#workspaces button.urgent {
    background: #a6e3a1;
    color: #000000;
}

#workspaces button:hover {
    background: rgba(255,255,255,0.2);
    border: 0px;
    color: #ffffff;
    box-shadow: none;
}
#window,
#clock,
#cpu,
#memory,
#battery,
#pulseaudio,
#network,
#bluetooth,
#tray,
#mode,
#backlight {
    color: #262c3c;
    background: #78cad8;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 4px;
    margin-bottom: 6px;
    border: 0px;
}

#mode {
    border-radius: 10px;
    margin-left: 4px;
    color: #78cad8;
    background: #262c3c;
}

#backlight {
    border-radius: 20px 6px 6px 20px;
    border-right: 0px;
    margin-right: 2px;
}

#window {
    border-radius: 10px;
    margin-left: 4px;
}

#clock {
    color: #ffffff;
    background: #262c3c;
    border-radius: 20px;
    margin-right: 5px;
}

#cpu {
    border-radius: 20px 0 0 20px;
}

#memory {
    border-radius: 0 20px 20px 0;
    margin-right: 5px;
}

#network {
    border-radius: 20px 0 0 20px;
}

#bluetooth {
    border-radius: 0px 20px 20px 0px;
    margin-right: 5px;
}

#pulseaudio {
    border-radius: 0px 20px 20px 0px;
    margin-right: 5px;
}

#pulseaudio.microphone {
    border-radius: 20px 0px 0px 20px;
    margin-right: 0px;
    padding-right: 0px;
}

#battery {
    border-radius: 20px;
    margin-right: 4px;
}
