window {
    font-family: JetBrains Nerd Font, bold;
    font-size: 12pt;
    color: #cdd6f4; 
    background-color: rgba(0, 0, 0, 0.7);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    text-shadow: none;
    box-shadow: none;
    background-color: #303030;
    margin: 5px;
    margin-top: 45px;
    margin-bottom: 45px;
}

button:hover {
    background-color: #404040;
}

button:focus {
    background-color: #ae2a25;
    color: #ffffff;
    text-shadow: none;
    outline: none;
}

#lock {
    background-image: image(url("./lock.png"));
}
#suspend {
    background-image: image(url("./sleep.png"));
}
#shutdown {
    background-image: image(url("./power.png"));
}
#reboot {
    background-image: image(url("./restart.png"));
}
